# venvs
.venv/
venv/
env/

# OS cruft
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Big artifacts we don't want in git
mlruns/
artifacts/
#data/raw/
data/processed/

# BUT keep our bundled serving model in the repo
!src/serving/model/
!src/serving/model/**

# Jupyter
.ipynb_checkpoints/

# Models (optional)
*.pkl
*.joblib
*.onnx
*.h5
*.pt

# BUT keep the serving model artifacts
!src/serving/model/**/*.pkl
!src/serving/model/**/*.joblib